
body {
	direction: rtl;
	text-align: right;
  }
  
  .bg-triangles {
	background-position: right top, left bottom;
  }
  
  .input {
	text-align: right;
  }
  .input__icon {
	padding-left: 0;
	padding-right: 3.4rem;
  }
  @media only screen and (max-width: 580px) {
	.input__icon {
	  padding-left: 0;
	  padding-right: 2.8rem;
	}
  }
  
  .form-group .font-icon {
	left: auto;
	right: 2.4rem;
  }
  @media only screen and (max-width: 580px) {
	.form-group .font-icon {
	  left: auto;
	  right: 2.1rem;
	}
  }
  
  .help-block {
	padding-left: 0;
	padding-right: .4rem;
  }
  
  .custom-control-label {
	padding-left: 0;
	padding-right: .5rem;
  }
  
  .btn .font-icon {
	margin-left: .5rem;
	margin-right: 0;
  }
  
  .dropdown-menu::before {
	left: auto;
	right: 1.1rem;
  }
  .title-icon {
	margin-left: .5rem;
	margin-right: 0;
  }
  .title__separate::before {
	left: auto;
	right: 0;
  }
  
  @media only screen and (max-width: 992px) {
	.block-quote {
	  padding-left: 0;
	  padding-right: 3.8rem;
	}
  }
  .block-quote::before {
	left: auto;
	right: -3.4rem;
  }
  @media only screen and (max-width: 992px) {
	.block-quote::before {
	  left: auto;
	  right: 0;
	}
  }
  @media only screen and (max-width: 580px) {
	.block-quote::before {
	  left: 0;
	  right: auto;
	}
  }
  .block-quote__author {
	padding-left: 0;
	padding-right: 3rem;
  }
  @media only screen and (max-width: 580px) {
	.block-quote__author {
	  padding-left: 0;
	  padding-right: 2rem;
	}
  }
  .block-quote__author::before {
	left: auto;
	right: 0;
  }
  .preloader__progress {
	left: auto;
	right: 0 span;
	right-left: auto;
	right-right: 0;
  }
  .circle-menu {
	border-radius: .937rem 50% 50% 50%;
	left: 0;
	right: auto;
  }
  @media only screen and (max-width: 580px) {
	.circle-menu {
	  border-radius: 50%;
	  margin-left: 1rem;
	  margin-right: 0;
	}
  }
  
  .hamburger .line:nth-child(2) {
	margin-left: 0;
	margin-right: 4px;
  }
  .hamburger.is-active .line:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
  }
  @media only screen and (max-width: 768px) {
	.hamburger.is-active .line:nth-child(1) {
	  transform: translateY(6px) rotate(45deg);
	}
  }
  
  .inner-menu {
	padding-left: 2rem;
	padding-right: 0;
	left: 0;
	right: auto;
  }
  @media only screen and (max-width: 580px) {
	.inner-menu {
	  padding-left: 0;
	}
  }
  
  .nav {
	border-radius: 0 2rem 2rem 0;
	padding-right: 0;
  }
  @media only screen and (max-width: 768px) {
	.nav {
	  border-radius: 0 .937rem 2rem 0;
	}
  }
  @media only screen and (max-width: 580px) {
	.nav {
	  border-radius: 0;
	}
  }
  .nav__item {
	margin-left: 3rem;
	margin-right: 0;
  }
  @media only screen and (max-width: 992px) {
	.nav__item {
	  margin-left: 2rem;
	  margin-right: 0;
	}
  }
  @media only screen and (max-width: 580px) {
	.nav__item {
	  margin-left: 0;
	}
  }
  .nav__item:last-child {
	margin-left: 0;
  }
  @media only screen and (max-width: 992px) {
	.nav__item:last-child {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  
  .inner-menu-alt {
	padding-left: 0;
  }
  .social__link {
	margin-left: 0;
	margin-right: .5rem;
  }
  .contacts-block {
	padding-right: 0;
  }
  @media only screen and (max-width: 1200px) {
	.contacts-block__item {
	  margin-left: 1.5rem;
	  margin-right: 0;
	}
  }
  .contacts-block .font-icon {
	margin-left: .875rem;
	margin-right: 0;
  }
  .case-item__icon {
	margin-left: 1.2rem;
	margin-right: 0;
  }
  @media only screen and (max-width: 580px) {
	.case-item__icon {
	  margin-left: 1.2rem;
	  margin-right: 0;
	}
  }
  .review-item {
	background-position: left 1.875rem top 1.875rem;
  }
  @media only screen and (max-width: 580px) {
	.review-item {
	  background-position: left 1rem top 1rem;
	}
  }
  .review-item .title {
	margin-left: 0;
	margin-right: 5.5rem;
  }
  @media only screen and (max-width: 580px) {
	.review-item .title {
	  margin-right: 0;
	}
  }
  .timeline {
	padding-left: 0;
	padding-right: .5rem;
  }
  .timeline__item {
	border-left: 0;
	border-right: 1px solid #F0F0F6;
	padding-left: 0;
	padding-right: 1.4rem;
  }
  .timeline__item::before {
	left: auto;
	right: -5px;
  }
  .progress {
	text-align: left;
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.progress-text span:nth-child(2) {
	  float: left;
	}
  }
  .gallery-grid__caption {
	padding-left: 0;
	padding-right: .2rem;
  }
  
  @media only screen and (min-width: 769px) {
	.filter__item {
	  padding-left: 1.2rem;
	  padding-right: 0;
	}
	.filter__item:last-child {
	  padding-left: 0;
	}
  }
  @media only screen and (max-width: 768px) {
	.select {
	  padding-left: 1.2rem;
	  padding-right: 1.5rem;
	  text-align: right;
	}
	.select .placeholder:after {
	  left: 2px;
	  right: auto;
	}
	.select ul {
	  left: auto;
	  right: 0;
	}
	.select ul li {
	  text-align: right;
	}
  }
  .news-item__date {
	border-radius: 10px 0 0 0;
  }
  .footer-post__share .font-icon {
	margin-left: .7rem;
	margin-right: 0;
  }
  
  .comment-box .comment-box {
	margin-left: 0;
	margin-right: 3rem;
  }
  @media only screen and (max-width: 580px) {
	.comment-box .comment-box {
	  margin-left: 0;
	  margin-right: 1.2rem;
	}
  }
  .comment-box__inner {
	padding: 1.25rem 1.4rem 1.0rem 1.25rem;
  }
  @media only screen and (max-width: 580px) {
	.comment-box__inner {
	  padding: 1rem 1.1rem .6rem 1rem;
	}
  }
  .comment-box .avatar {
	margin-left: 1rem;
	margin-right: 0;
  }
  .comment-box__footer li {
	margin-left: 2rem;
	margin-right: 0;
  }
  @media only screen and (max-width: 580px) {
	.comment-box__footer li {
	  margin-left: 1rem;
	  margin-right: 0;
	}
  }
  .comment-box__footer li:last-child {
	margin-left: 0;
  }
  .comment-box__footer span {
	padding-left: 0;
	padding-right: .4rem;
  }
  
  .comment-form .textarea {
	padding: 1.1rem 3.2rem 1rem 4.5rem;
  }
  .comment-form .btn {
	margin-left: .5rem;
	margin-right: 0;
	left: 0;
	right: auto;
  }
  .comment-form .dropdown {
	margin-left: 0;
	margin-right: 1rem;
  }
  .comment-form .dropdown-menu {
	margin-left: 0;
	margin-right: -1rem;
	transform: translate3d(0, -123px, 0px) !important;
  }
  
  .social-auth__item {
	margin-left: .4rem;
	margin-right: 0;
  }
  #contact-form .text-right {
	text-align: left !important;
  }
  
  @media only screen and (min-width: 768px) {
	#contact-form .text-md-left {
	  text-align: right !important;
	}
  }
  .back-to-top {
	left: 40px;
	right: auto;
  }
  